/* =========================
   NAV: black text + bold everywhere
   Sticky bar: light background when it appears
   (Hover gold stays as-is; we do NOT redefine hover)
   ========================= */

/* Desktop (includes "unstuck" and normal top-of-page state) */
@media screen and (min-width: 992px) {
    .navigation header nav a,
    .navigation header nav ul li a {
        color: #000;
        font-weight: 650;
    }
}

/* Sticky state: do NOT paint a solid center background */
header.fixed,
header.sticky,
.navigation.fixed header,
.navigation.sticky header,
header.fixed .header-content,
header.sticky .header-content,
.navigation.fixed header .header-content,
.navigation.sticky header .header-content {
  background: transparent;
}


header.fixed nav a,
header.sticky nav a,
.navigation.fixed header nav a,
.navigation.sticky header nav a {
    color: #000;
    font-weight: 650;
}


/* ===== Your original blocks, mostly unchanged ===== */

@media screen and (max-width: 1200px) {
    header {
        width: 90%;
        margin: 0 auto;
    }

    .intro-content {
        display: inline-block;
        width: 70%;
    }
}

@media screen and (max-width: 1024px) {
    .hero .hero-content {
        padding-top: 50%;
    }
}


/* Full-width nav background (fixes the “white only in the center” problem) */
.navigation {
  background: rgba(241, 243, 249, 0.90); /* adjust opacity here */
}

/* When sticky class is applied, keep the same full-width background */
.navigation.fixed,
.fixed.navigation {
  background: rgba(241, 243, 249, 0.90);
}

/* IMPORTANT: don’t let the fixed-width header paint a different color */
.navigation header {
  background: transparent;
  border-bottom: none;
  box-shadow: none;
}


/* Nav link color: black + bold (hover gold keeps working because it’s a :hover rule) */
.navigation header a,
.navigation header ul.primary-nav li a,
.navigation header ul.member-actions li a {
  color: #000;
  font-weight: 650;
}

/* Restore gold hover/active (was in styles.min.css, but our black rule overrides it) */
.navigation header nav a:hover,
.navigation header nav ul.primary-nav li a:hover,
.navigation header nav ul.member-actions li a:hover,
.navigation header nav a:focus,
.navigation header nav li.active > a {
  color: #e8ca6f;
}


/* RSVP button: restore gold border on hover (and keep it consistent in sticky too) */
.navigation header a.btn-white {
  border-color: #000;
  color: #000;
  font-weight: 650;
}

.navigation header a.btn-white:hover,
.navigation header a.btn-white:focus,
header.fixed a.btn-white:hover,
header.fixed a.btn-white:focus,
.navigation.fixed header a.btn-white:hover,
.navigation.fixed header a.btn-white:focus {
  border-color: #e8ca6f;
  color: #e8ca6f; /* if you only want border gold, remove this line */
}


/* Mobile hamburger lines were white in the original CSS; make them black for light background */
.nav-toggle span,
.nav-toggle span:before,
.nav-toggle span:after {
  background: #000;
}



/* Responsive nav kicks in */
@media screen and (max-width: 991px) {
    header {
        width: 90%;
        padding-left: 25px;
    }

    .hero .hero-content {
        padding-top: 50%;
    }

    .header-nav {
        position: fixed;
        background-color: #f8f6f2; /* was #000 */
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        z-index: 99999;
        visibility: hidden;
        opacity: 0;
        -webkit-transition: opacity 0.5s, visibility 0s 0.5s;
        transition: opacity 0.5s, visibility 0s 0.5s;
    }

    ul.member-actions {
        position: static;
    }

    .navicon {
        visibility: visible;
    }

    header .nav-wrapper {
        display: absolute;
    }

    header nav {
        position: relative;
        top: 45%;
        -moz-transform: translatey(-45%);
        -ms-transform: translatey(-45%);
        -o-transform: translatey(-45%);
        -webkit-transform: translatey(-45%);
        transform: translatey(-45%);
    }

    nav ul li a {
        color: #000;          /* was #fff */
        font-size: 25px;
        text-transform: uppercase;
        font-weight: 650;     /* was 600 */
        -moz-transition: all 300ms ease-in-out;
        -o-transition: all 300ms ease-in-out;
        -webkit-transition: all 300ms ease-in-out;
        transition: all 300ms ease-in-out;
    }

    nav ul li {
        margin-bottom: 25px;
    }

    nav ul.primary-nav li {
        display: block;
    }

    nav ul.member-actions li {
        display: block;
    }

    nav a.login {
        margin-right: 0px;
    }

    nav ul.primary-nav {
        margin: 0;
        padding: 0;
        text-align: center;
    }

    nav ul.primary-nav li a {
        padding-right: 0;
    }

    nav .member-actions {
        position: static;
        padding: 0;
        text-align: center;
    }

    nav ul.primary-nav li,
    nav ul.member-actions li {
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
        filter: alpha(opacity=0);
        opacity: 0;
        -moz-transform: translate3d(0, -80px, 0);
        -ms-transform: translate3d(0, -80px, 0);
        -o-transform: translate3d(0, -80px, 0);
        -webkit-transform: translate3d(0, -80px, 0);
        transform: translate3d(0, -80px, 0);
        -moz-transition: -moz-transform 0.5s, opacity 0.5s;
        -o-transition: -o-transform 0.5s, opacity 0.5s;
        -webkit-transition: -webkit-transform 0.5s, opacity 0.5s;
        transition: transform 0.5s, opacity 0.5s;
    }

    header .header-nav.open ul.primary-nav li,
    header .header-nav.open ul.member-actions li {
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
        filter: alpha(opacity=100);
        opacity: 1;
        -moz-transform: translate3d(0, 0, 0);
        -ms-transform: translate3d(0, 0, 0);
        -o-transform: translate3d(0, 0, 0);
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }

    nav ul.primary-nav li:first-child { transition-delay: 0.05s; }
    nav ul.primary-nav li:nth-child(2) { transition-delay: 0.1s; }
    nav ul.primary-nav li:nth-child(3) { transition-delay: 0.15s; }
    nav ul.primary-nav li:nth-child(4) { transition-delay: 0.2s; }
    nav ul.member-actions li:first-child { transition-delay: 0.25s; }
    nav ul.member-actions li:nth-child(2) { transition-delay: 0.30s; }

    .intro-content {
        display: inline-block;
        width: 75%;
        margin-bottom: 30px;
    }

    .last { margin: 0; }

    .features { padding-bottom: 0; }

    .features .device-showcase,
    .features-extra .macbook-wrap {
        display: none;
    }

    .features .responsive-feature-img,
    .features-extra .responsive-feature-img {
        display: block;
        width: 85%;
        margin: 15% auto 0;
    }

    .features .responsive-feature-img img,
    .features-extra .responsive-feature-img img {
        width: 100%;
    }

    .hero-strip { margin-top: 0; }

    .events .leftcol {
        padding: 0 15px;
        margin-bottom: 15px;
        border-right: none;
    }

    .events .rightcol {
        padding: 0 20px;
    }

    #eng-pics .img-wrap { border-radius: 0; }

    #map-content-wrapper { margin-bottom: 40px; }

    #map-content {
        margin-top: 0;
        padding: 35px;
    }

    .rsvp { padding-top: 40px; }

    footer .social-share { display: none; }

    footer .footer-links { margin: 120px 0 120px 0; }
}

@media screen and (max-width: 640px) {
    .hero .hero-content { padding-top: 100%; }

    #eng-pics .img-wrap i {
        font-size: 25px;
        position: absolute;
        width: 25px;
        height: 25px;
        top: 10px;
        right: 10px;
    }

    #map-content-wrapper { margin-bottom: 0; }

    footer ul.footer-group { border-top: none; }

    footer ul.footer-group li a {
        font-size: 13px;
        text-transform: uppercase;
        padding: 20px 0;
        display: block;
        border-bottom: dashed 1px #4E566C;
    }

    footer ul.footer-group li { display: block; }

    footer .footer-links { margin: 50px 0 50px 0; }
}

@media screen and (max-width: 480px) {
    .hero .hero-content { padding-top: 110%; }

    .hero .hero-content img { width: 65%; }

    .hero .btn {
        display: block;
        width: 80%;
        margin: 0 auto;
    }

    .hero .btn:first-of-type { margin-bottom: 20px; }

    .hero h1 { font-size: 50px; }

    .btn-margin-right { margin-right: 0px; }

    .features .device-showcase-left {
        position: absolute;
        bottom: -392px;
        left: 41%;
        right: auto;
        transform: translateX(-50%);
    }

    .features .ipad-wrap {
        width: 706px;
        height: 1002px;
        background: url("../img/ipad-device.png") no-repeat center center;
        z-index: 1;
        background-size: 40%;
    }

    .features .iphone-wrap {
        width: 304px;
        height: 617px;
        background: url("../img/iphone6.png") no-repeat center center;
        position: absolute;
        left: 350px;
        bottom: 129px;
        z-index: 2;
        background-size: 40%;
    }

    .features { padding-bottom: 0; }

    .down-arrow { display: none; }
}

@media screen and (max-width: 320px) {
    .hero .hero-content { padding-top: 130%; }

    .rsvp { padding-top: 20px; }
}


/* =========================================================
   RSVP (rebuilt fields): centered icons + divider + clean inputs
   Scoped to #rsvp only
   ========================================================= */

/* Each field becomes a 2-column layout: icon slot | input */
#rsvp .rsvp-field {
  display: flex;
  align-items: stretch;      /* divider spans full height */
  margin-bottom: 16px;
}

/* Icon slot */
#rsvp .rsvp-field .rsvp-icon {
  flex: 0 0 64px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-right: 1px solid #e6e6e6;
  box-sizing: border-box;
}

/* Font Awesome icon element (keep glyph, remove old divider effects) */
#rsvp .rsvp-field .rsvp-icon i {
  line-height: 1;
  border-right: 0 !important;
  box-shadow: none !important;
  background-image: none !important;
}

/* Input area */
#rsvp .rsvp-field input {
  flex: 1 1 0;
  min-width: 0;
  width: auto !important;
  box-sizing: border-box;
  padding-left: 18px !important;

  border-left: 0 !important; /* prevents an extra divider from the template */
}

/* Kill any template pseudo-element lines on wrappers (safe) */
#rsvp .rsvp-field::before,
#rsvp .rsvp-field::after,
#rsvp .form-input-group::before,
#rsvp .form-input-group::after {
  content: none !important;
  display: none !important;
}

/* RSVP: remove the template's old divider line (drawn by i:after) */
#rsvp .rsvp-form .form-input-group i:after,
#rsvp .rsvp-form .form-input-group i::after {
  content: none !important;
  display: none !important;
  border: 0 !important;
}

/* RSVP: center icons consistently */
#rsvp .rsvp-icon {
  display: flex;
  align-items: center;
  justify-content: center;
}

#rsvp .rsvp-icon i.fa {
  display: block;
  line-height: 1;
}

/* RSVP: nudge the actual FA glyph (safe: won't shift vertically) */
#rsvp .rsvp-icon i.fa::before {
  position: relative;
  left: -10px;   /* tweak -1 / -2 / -3 */
}

/* Keep bed + cutlery centered (override the nudge) */
#rsvp .rsvp-icon i.fa-bed::before,
#rsvp .rsvp-icon i.fa-cutlery::before {
  left: 0;
}


/* Nudge hero RSVP button up */
.hero .rsvp-btn {
  position: relative;
  top: -22px;   /* tweak this */
}

/* If arrow/RSVP are absolutely positioned */
.hero .rsvp-btn,
.hero .down-arrow,
.down-arrow {
  bottom: 12px;  /* tweak */
}

/* Make RSVP <select> match the input styling */
.rsvp-form .form-input-group select {
  border: 0;
  outline: 0;
  box-shadow: none;
  background: transparent;
  width: 100%;
  height: 100%;
  padding: 0 15px;
  color: inherit;
  font: inherit;

  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.rsvp-form .form-input-group select:focus {
  outline: 0;
  box-shadow: none;
}

/* HERO logo: bigger + much higher */
.hero .hero-content img.hero-logo{
  display: block;
  margin: 0 auto;

  /* ~15% wider than 760px baseline (760 * 1.15 ≈ 874) */
  width: 875px;
  max-width: 95%;
  height: auto;

  position: relative;
  top: -140px;   /* move up a good bit (try -140 to -220) */
}

/* Keep it reasonable on phones */
@media screen and (max-width: 480px){
  .hero .hero-content img.hero-logo{
    width: 85% !important;
    top: -60px;
  }
}
